{% extends 'base.html.twig' %}

{% block body %}
    <h1>User login</h1>
    {{ form_start(loginForm) }}
    {{ form_widget(loginForm) }}
    <input type="submit" value="login">
    {{ form_end(loginForm) }}
{% endblock %}
