{% extends 'base.html.twig' %}

{% block title %} homepage{% endblock %}
{% block body %}
    <h1>Welcome to the References Manager</h1>
    <nav>
    <ul>
        <li><a href="{{ path('ref_list_public') }}">Refs</a></li>
        <li><a href="{{ path('tag_list_public') }}">Tags</a></li>
        <li><a href="{{ path('tag_list_pending') }}">Pending Tags</a></li>
    </ul>
    </nav>
{% endblock %}